{% for module in modules %}
    {#{{ module }}#}



    {% if module.code == 'html.39' %}
        <section class="block46">
            <div class="container">
                <h2 class="section__title">Кухни от нашего производства</h2>
                <div class="block46-items">
                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/01-kukhni-iz-mdf.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">Кухни из МДФ</div>
                                <div class="block46-item-price">от 26 000 ₽</div>
                            </div>
                        </a>
                    </div>
                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/02-kukhni-iz-shpona.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">Кухни из шпона</div>
                                <div class="block46-item-price">от 28 000 ₽</div>
                            </div>
                        </a>
                    </div>
                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/03-matovyye-kukhni.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">Матовые кухни</div>
                                <div class="block46-item-price">от 26 000 ₽</div>
                            </div>
                        </a>
                    </div>

                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/04-sovremennyye.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">Современные</div>
                                <div class="block46-item-price">от 29 000 ₽</div>
                            </div>
                        </a>
                    </div>
                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/05-klassicheskiye.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">Классические</div>
                                <div class="block46-item-price">от 24 000 ₽</div>
                            </div>
                        </a>
                    </div>
                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/06-kukhni-khay-tek.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">Кухни хай тек</div>
                                <div class="block46-item-price">от 22 000 ₽</div>
                            </div>
                        </a>
                    </div>

                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/07-s-ostrovom.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">С островом</div>
                                <div class="block46-item-price">от 29 000 ₽</div>
                            </div>
                        </a>
                    </div>
                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/08-malenkiye-kukhni.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">Маленькие кухни</div>
                                <div class="block46-item-price">от 24 000 ₽</div>
                            </div>
                        </a>
                    </div>
                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/09-s-barnoy-stoykoy.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">С барной стойкой</div>
                                <div class="block46-item-price">от 22 000 ₽</div>
                            </div>
                        </a>
                    </div>

                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/10-kukhni-pod-potolok.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">Кухни под потолок</div>
                                <div class="block46-item-price">от 29 000 ₽</div>
                            </div>
                        </a>
                    </div>
                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/11-v-stile-loft.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">В стиле лофт</div>
                                <div class="block46-item-price">от 24 000 ₽</div>
                            </div>
                        </a>
                    </div>
                    <div class="block46-item">
                        <a href="#" class="block46-item-link">
                            <div class="block46-item-img">
                                <img src="/image/catalog/category/12-skandinavskiy-stil.jpg" alt="" class="img-responsive" width="390" height="266">
                            </div>
                            <div class="block46-item-name-price">
                                <div class="block46-item-name">Скандинавский стиль</div>
                                <div class="block46-item-price">от 22 000 ₽</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="block46-btn-wrap block2__quiz__buttons">
                    <a href="#" class="block46-btn button quiz__next">Смотреть все</a>
                </div>
            </div>
        </section>
    {% endif %}



    {{ module.data }}
{% endfor %}