{% for module in modules %}
{{ module }}
{% endfor %}

			<section class="block2">
				<img src="/catalog/view/theme/default/image/block2/bg.png" alt="" class="block__bg block2__bg">
				<div class="container">
					<h2 class="section__title">Онлайн расчет стоимости Вашей кухни<br>за 1 минуту в 3-х вариантах</h2>
					<div class="section__descriptor">Пройдите онлайн тест и по его результатам Вы получите:</div>
					<div class="block2__flex">
						<div class="block2__item"><img src="/catalog/view/theme/default/image/block2/2.png" alt="">
							<div class="text">3D визуализацию <br>кухонного гарнитура <br>+ скидку 5%</div>
						</div>
						<div class="block2__item"><img src="/catalog/view/theme/default/image/block2/1.png" alt="">
							<div class="text">Расчет <br>стоимости <br>кухни</div>
						</div>
					</div>
				<div class="block2__quiz-wrapper">
						<div class="block2__tabs-wrapper">
							<div class="block2__tabs">
								<div class="block2__tab block2__tab-active">
									<div class="title">Шаг 1</div>
									<div class="text">Форма</div>
								</div>
								<div class="block2__tab">
									<div class="title">Шаг 2</div>
									<div class="text">Размер</div>
								</div>
								<div class="block2__tab">
									<div class="title">Шаг 3</div>
									<div class="text">Фасады</div>
								</div>
								<div class="block2__tab">
									<div class="title">Шаг 4</div>
									<div class="text">Столешница</div>
								</div>
								<div class="block2__tab">
									<div class="title">Шаг 5</div>
									<div class="text">Фурнитура</div>
								</div>
								<div class="block2__tab">
									<div class="title">Шаг 6</div>
									<div class="text">Доп. элемнты</div>
								</div>
							</div>
						</div>
						<div class="block2__quiz owl-carousel owl-loaded">
						<div class="owl-stage-outer owl-height" style="height: 732px;"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 9360px;"><div class="owl-item active" style="width: 1170px;"><div class="block2__quiz__item">
								<h3 class="title">Выберите форму кухни </h3>
								<div class="block2__quiz__item__flex step1">
									<div class="block2__answer">
										<input type="radio" name="q1" value="Прямая" id="q1_1" form="quiz">
										<label for="q1_1">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/1/1.png" alt=""></div>
											<div class="title">Прямая</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q1" value="Угловая" id="q1_2" form="quiz">
										<label for="q1_2">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/1/2.png" alt=""></div>
											<div class="title">Угловая</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q1" value="П-образная" id="q1_3" form="quiz">
										<label for="q1_3">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/1/3.png" alt=""></div>
											<div class="title">П-образная</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q1" value="С островком" id="q1_4" form="quiz">
										<label for="q1_4">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/1/4.png" alt=""></div>
											<div class="title">С островом</div>
										</label>
									</div>
								</div>
								<div class="block2__quiz__buttons">
									<button class="button quiz__next">На следующий шаг</button>
								</div>
							</div></div><div class="owl-item" style="width: 1170px;"><div class="block2__quiz__item">
								<h3 class="title">Укажите примерные размеры кухни</h3>
								<div class="quiz__inputs step2">
									<div class="quiz__input side1">
										<label>Сторона А</label>
										<input type="text" name="q2_1" form="quiz" placeholder="Укажите размеры в СМ">
									</div>
									<div class="quiz__input side2">
										<label>Сторона B</label>
										<input type="text" name="q2_2" form="quiz" placeholder="Укажите размеры в СМ">
									</div>
									<div class="quiz__input side3">
										<label>Сторона C</label>
										<input type="text" name="q2_3" form="quiz" placeholder="Укажите размеры в СМ">
									</div>
									<div class="checkbox">
										<input type="checkbox" value="Не знаю размеры" form="quiz" name="q2_4" id="q2_4">
										<label for="q2_4">
											<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
											<div class="text">Я не знаю размеры</div>
										</label>
									</div>
								</div>
								<h3 class="title">Какую бытовую технику будете использовать?</h3>
								<div class="quiz__checkboxes">
									<div class="checkbox">
										<input type="checkbox" value="Варочная поверхность" name="q3[]" form="quiz" id="q3_1">
										<label for="q3_1">
											<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
											<div class="text">Варочная поверхность</div>
										</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" value="Стиральная машина" name="q3[]" form="quiz" id="q3_2">
										<label for="q3_2">
											<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
											<div class="text">Стиральная машина</div>
										</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" value="Встроенный холодильник" name="q3[]" form="quiz" id="q3_3">
										<label for="q3_3">
											<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
											<div class="text">Встроенный холодильник</div>
										</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" value="Посудомоечная машина" name="q3[]" form="quiz" id="q3_4">
										<label for="q3_4">
											<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
											<div class="text">Посудомоечная машина</div>
										</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" value="Духовой шкаф" name="q3[]" form="quiz" id="q3_5">
										<label for="q3_5">
											<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
											<div class="text">Духовой шкаф</div>
										</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" value="Вытяжка" name="q3[]" form="quiz" id="q3_6">
										<label for="q3_6">
											<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
											<div class="text">Вытяжка</div>
										</label>
									</div>
								</div>
								<div class="block2__quiz__buttons">
									<button class="button quiz__prev">Назад</button>
									<button class="button quiz__next">На следующий шаг</button>
								</div>
							</div></div><div class="owl-item" style="width: 1170px;"><div class="block2__quiz__item">
								<h3 class="title">Выберите материал кухонных фасадов</h3>
								<div class="block2__quiz__item__flex step3">
									<div class="block2__answer">
										<input type="radio" name="q4" value="Крашенные фасады" id="q4_1" form="quiz">
										<label for="q4_1">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/3/11.jpg" alt=""></div>
											<div class="title">Крашенные фасады</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q4" value="Пластик" id="q4_2" form="quiz">
										<label for="q4_2">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/3/22.jpg" alt=""></div>
											<div class="title">Пластик</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q4" value="МДФ в пленке" id="q4_3" form="quiz">
										<label for="q4_3">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/3/3.jpg" alt=""></div>
											<div class="title">МДФ в пленке</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q4" value="Рамочный МДФ" id="q4_4" form="quiz">
										<label for="q4_4">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/3/4.png" alt=""></div>
											<div class="title">Рамочный МДФ</div>
										</label>
									</div>
									<!-- <div class="block2__answer">
										<input type="radio" name="q4" value="Алюминиевые" id="q4_5" form="quiz"/>
										<label for="q4_5">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/3/5.png" alt=""/></div>
											<div class="title">Алюминиевые</div>
										</label>
									</div> -->
									<div class="block2__answer">
										<input type="radio" name="q4" value="Массив" id="q4_6" form="quiz">
										<label for="q4_6">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/3/6.jpg" alt=""></div>
											<div class="title">Массив</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q4" value="Шпон" id="q4_7" form="quiz">
										<label for="q4_7">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/3/7.jpg" alt=""></div>
											<div class="title">Шпон</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q4" value="Не определился" id="q4_8" form="quiz">
										<label for="q4_8">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/3/8.png" alt=""></div>
											<div class="title">Не определился</div>
										</label>
									</div>
								</div>
								<div class="block2__quiz__buttons">
									<button class="button quiz__prev">Назад</button>
									<button class="button quiz__next">На следующий шаг</button>
								</div>
							</div></div><div class="owl-item" style="width: 1170px;"><div class="block2__quiz__item">
								<h3 class="title">Выберите материал столешницы</h3>
								<div class="block2__quiz__item__flex step3">
									<div class="block2__answer">
										<input type="radio" name="q5" value="Искуственный камень" id="q5_1" form="quiz">
										<label for="q5_1">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/4/1.png" alt=""></div>
											<div class="title">Искуственный камень</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q5" value="Натуральный камень" id="q5_2" form="quiz">
										<label for="q5_2">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/4/2.png" alt=""></div>
											<div class="title">Натуральный камень</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q5" value="Дерево с пропиткой" id="q5_3" form="quiz">
										<label for="q5_3">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/4/3.png" alt=""></div>
											<div class="title">Дерево с пропиткой</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="radio" name="q5" value="Пластик" id="q5_4" form="quiz">
										<label for="q5_4">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/4/4.png" alt=""></div>
											<div class="title">Пластик</div>
										</label>
									</div>
								</div>
								<div class="block2__quiz__buttons">
									<button class="button quiz__prev">Назад</button>
									<button class="button quiz__next">На следующий шаг</button>
								</div>
							</div></div><div class="owl-item" style="width: 1170px;"><div class="block2__quiz__item">
								<h3 class="title">Выберите кухонную фурнитур</h3>
								<div class="block2__quiz__item__flex step3 step5">
									<div class="block2__answer-big">
										<input type="radio" name="q6" value="Эконом" id="q6_1" form="quiz">
										<label for="q6_1">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/5/1.png" alt=""></div>
											<div class="block2__answer__text">
												<div class="title">Эконом</div>
												<div class="text">Шариковые <br>направляющие, <br>без использования <br>доводчиков.</div>
											</div>
										</label>
									</div>
									<div class="block2__answer-big">
										<input type="radio" name="q6" value="Стандарт" id="q6_2" form="quiz">
										<label for="q6_2">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/5/2.png" alt=""></div>
											<div class="block2__answer__text">
												<div class="title">Стандарт</div>
												<div class="text">Метабоксы <br>с доводчиком <br>(Boyard, GTV)</div>
											</div>
										</label>
									</div>
									<div class="block2__answer-big">
										<input type="radio" name="q6" value="Премиум" id="q6_3" form="quiz">
										<label for="q6_3">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/5/3.png" alt=""></div>
											<div class="block2__answer__text">
												<div class="title">Премиум</div>
												<div class="text">Австрийская <br>и немецкая <br>фурнитура (BLUM, <br>Hettich, Häfele, <br>Kessebohmer, GRASS)</div>
											</div>
										</label>
									</div>
									<div class="block2__answer-big">
										<input type="radio" name="q6" value="Комбинированная" id="q6_4" form="quiz">
										<label for="q6_4">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/5/4.png" alt=""></div>
											<div class="block2__answer__text">
												<div class="title">Комбинированная</div>
												<div class="text">Где нужно считаем <br>доводчики, где нет - <br>обычные петли <br>и направляющие</div>
											</div>
										</label>
									</div>
								</div>
								<div class="block2__quiz__buttons">
									<button class="button quiz__prev">Назад</button>
									<button class="button quiz__next">На следующий шаг</button>
								</div>
							</div></div><div class="owl-item" style="width: 1170px;"><div class="block2__quiz__item">
								<h3 class="title">Выберите дополнительные элементы для Вашей кухни</h3>
								<div class="block2__quiz__item__flex step3 step6">
									<div class="block2__answer">
										<input type="checkbox" name="q7[]" value="Стеновая панель МДФ" id="q7_1" form="quiz">
										<label for="q7_1">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/6/1.png" alt=""></div>
											<div class="title">Стеновая панель <br>МДФ</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="checkbox" name="q7[]" value="Стеновая панель фотопечать" id="q7_2" form="quiz">
										<label for="q7_2">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/6/2.png" alt=""></div>
											<div class="title">Стеновая панель <br>фотопечать</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="checkbox" name="q7[]" value="Стеновая панель закалённое стекло" id="q7_3" form="quiz">
										<label for="q7_3">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/6/3.png" alt=""></div>
											<div class="title">Стеновая панель <br>закалённое стекло</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="checkbox" name="q7[]" value="Стеновая панель мозайка" id="q7_4" form="quiz">
										<label for="q7_4">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/6/4.png" alt=""></div>
											<div class="title">Ламинированный МДФ</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="checkbox" name="q7[]" value="Стенновая панель кафель" id="q7_5" form="quiz">
										<label for="q7_5">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/6/5.png" alt=""></div>
											<div class="title">Стенновая панель <br>кафель</div>
										</label>
									</div>
									<div class="block2__answer">
										<input type="checkbox" name="q7[]" value="Встроенная подсветка" id="q7_6" form="quiz">
										<label for="q7_6">
											<div class="block2__answer__img"><img src="/catalog/view/theme/default/image/quiz/6/6.png" alt=""></div>
											<div class="title">Встроенная <br>подсветка</div>
										</label>
									</div>
								</div>
								<div class="block2__quiz__buttons">
									<button class="button quiz__prev">Назад</button>
									<button class="button quiz__next last-step">На следующий шаг</button>
								</div>
							</div></div><div class="owl-item" style="width: 1170px;"><div class="block2__quiz__item">
								<div class="section__title">Наш дизайнер уже приступил <br>к расчету кухни:</div>
								<div class="section__descriptor">Куда вам будет удобнее выслать расчет + бонусы ?</div><img src="/catalog/view/theme/default/image/quiz/1.png" alt="" class="quiz__img1"><img src="/catalog/view/theme/default/image/quiz/2.png" alt="" class="quiz__img2"><img src="/catalog/view/theme/default/image/quiz/3.png" alt="" class="quiz__img3">
								<form id="quiz" class="quiz__form">
									<div class="checkbox">
										<input type="radio" value="Выслать смс со стоимостью" name="callback" id="callback_1" checked="checked">
										<label for="callback_1">
											<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
											<div class="text">Выслать смс со стоимостью</div>
										</label>
									</div>
									<div class="checkbox">
										<input type="radio" value="Перезвоните мне, есть вопросы" name="callback" id="callback_2">
										<label for="callback_2">
											<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
											<div class="text">Перезвоните мне, есть вопросы</div>
										</label>
									</div>
									<div class="checkbox">
										<input type="radio" value="Пришлите проект и цену в WhatsUpp" name="callback" id="callback_3">
										<label for="callback_3">
											<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
											<div class="text">Пришлите проект и цену в WhatsUpp</div>
										</label>
									</div>
									<input type="text" name="phone" placeholder="Укажите ваш номер телефона" required="required">
									<button class="button">Получить результат</button>
									<input type="hidden" name="type" value="Квиз">
								</form>
							</div></div><div class="owl-item" style="width: 1170px;"><div class="block2__quiz__item quiz__thank">
								<div class="section__title">Спасибо за оказанное доверие, <br>в течение часа мы подготовим <br>и вышлем вам результаты</div><img src="/catalog/view/theme/default/image/quiz/thank/bg.png" alt="" class="quiz__thank__bg">
							</div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>
					</div>
				</div>
			</section>