	<section class="block6">
<img src="/catalog/view/theme/default/image/block6/bg.png" alt="" class="block6__bg block__bg">
<div class="container">
				<div class="block6__title">Скачайте полный каталог <br>продукции и вдохновитесь <br>идеями <span>В каталоге вы найдёте</span></div>
				<div class="block6__flex">
					<form class="block6__form">
						<div class="input">
							<div class="input__img"><img src="/catalog/view/theme/default/image/block6/4.png" alt=""></div>
							<input type="email" name="email" placeholder="Введите email">
						</div>
						<div class="input">
							<div class="input__img"><img src="/catalog/view/theme/default/image/block6/5.png" alt=""></div>
							<input type="text" name="phone" placeholder="Ваш телефон" required="required">
						</div>
						<button class="button">Получить каталог</button>
						<div class="checkbox">
							<input type="checkbox" id="c2" checked="checked">
							<label for="c2">
								<div class="box"><img src="/catalog/view/theme/default/image/block6/check.png" alt=""></div>
								<div class="text">Согласен на обработку персональных данных</div>
							</label>
						</div>
						<input type="hidden" name="type" value="Скачивание каталога">
					</form>
					<ul class="block6__list">
						<li>Более 50 проектов <br>наших кухонь</li>
						<li>Разнообразные Виды фасадов, <br>Массив, МДФ, Пластик.</li>
						<li>Более 800 фактур <br>и оттенков фасадов</li>
						<li>Дополнительные элементы, <br>(фурнитура, системы <br>крепления)</li>
					</ul>
				</div><img src="/catalog/view/theme/default/image/block6/1.png" alt="" class="block6__catalog">
			</div>
      </section>