<section class="block8"> 
			<div class="container">
				<div class="block8__flex">
					<div class="block8__left">
						<div class="section__title"><span>Акция!</span> Нашей компании 20 лет</div>
						<div class="section__descriptor">Только до 30 декабря, при покупке кухни каменная <br>мойка + варочная поверхность в подарок</div>
						<div class="block8__num">20</div>
						<div class="block8__bonuses clearfix"><img src="/catalog/view/theme/default/image/block8/1.png" alt=""><img src="/catalog/view/theme/default/image/block8/2.png" alt="">
							<!-- <div class="price price1"><span>7 000 p.</span></div>
							<div class="price price2"><span>6 000 p.</span></div> -->
						</div>
					</div>  
					<form class="block1__right block8__right">
						<div class="title">Узнайте стоимость <br>кухни + закрепите <br>за собой подарки</div>
						<div class="input">
							<div class="input__img"><img src="/catalog/view/theme/default/image/icons/3.png" alt=""></div>
							<input type="text" name="name" placeholder="Введите имя">
						</div>
						<div class="input">
							<div class="input__img"><img src="/catalog/view/theme/default/image/icons/4.png" alt=""></div>
							<input type="text" name="phone" placeholder="Ваш телефон" required="required">
						</div>
						<button class="button">Закрепить за собой подарки</button>
						<div class="checkbox">
							<input type="checkbox" id="c3" checked="checked">
							<label for="c3"> 
								<div class="box"><img src="/catalog/view/theme/default/image/icons/check.png" alt=""></div>
								<div class="text">Согласен на обработку персональных данных</div>
							</label>
						</div>
						<div class="block8__bonus"><img src="/catalog/view/theme/default/image/block8/3.png" alt=""></div>
						<input type="hidden" name="type" value="Узнать стоимость и закрепить подарки / Главная">
					</form>
				</div>
			</div>
</section>