 <div id="google_map"></div>
 <section class="block14">
			<div class="container">
				<div class="block14__block">
					<h3 class="section__title">Наши контакты</h3>
					<div class="block14__item">
						<div class="title">адрес</div>
						<div class="text">г. Москва, ул.Свободы, д.29, ТЦ "Свобода Мебель", 2 этаж, место 18</div>
					</div>
					<div class="block14__item">
						<div class="title">телефон</div>
						<div class="text"><a href="tel:+74951396339"><span class="mobitel" data-tel="+74951396339">+7 (495) 139-63-39</span></a></div>
						<div class="text">Отдел продаж: <a href="+79067722626"><span class="mobitel" data-tel="+79067722626">+7 (906) 772-26-26</span></a></div>
					</div>
					<!-- <div class="block14__item">
						<div class="title">почта</div>
						<div class="text">2233553@mail.ru</div>
					</div> -->
				</div>
			</div>
			<div id="map">
           <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2240.464887332447!2d37.450953717443845!3d55.837246799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b547e3046439ed%3A0x10c5eac8ea90f192!2z0YPQuy4g0KHQstC-0LHQvtC00YssIDI5LCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTI1MzYy!5e0!3m2!1sru!2sua!4v1657109437904!5m2!1sru!2sua"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           </div>
		</section>