      <section class="block1">
				<div class="container">
					<div class="block1__flex">
						<div class="block1__left">
							<h1>Кухни на заказ в Москве и области</h1>
							<div class="p3">
								Собственное производство мебели, до 20% дешевле рыночной стоимости!
							</div>
							<div class="block1__triggers">
								<div class="block1__item">
									<div class="block1__item__img"><img src="/catalog/view/theme/default/image/block1/1.png" alt=""></div>
									<div class="text">Срок производства кухонь<br>от 7 до 20 дней</div>
								</div>
								<div class="block1__item">
									<div class="block1__item__img"><img src="/catalog/view/theme/default/image/block1/2.png" alt=""></div>
									<div class="text">Предоплата на изготовление <br>всего 10%</div>
								</div>
								<div class="block1__item">
									<div class="block1__item__img"><img src="/catalog/view/theme/default/image/block1/3.png" alt=""></div>
									<div class="text">Гарантия на все кухни и мебель <br>3 года</div>
								</div>
							</div>
						</div>
						<div class="block1__right-wrapper">
							<form class="block1__right" id="request_your_gift">
								<h3 class="title">Каменная мойка и варочная поверхность В ПОДАРОК!</h3>
								<div class="descriptor">При покупке кухонного гарнитура <br>стоимость свыше 90 000 рублей <br>дарим подарки</div>
								<div class="input">
									<div class="input__img"><img src="/catalog/view/theme/default/image/icons/3.png" alt=""></div>
									<input type="text" name="name" placeholder="Введите имя">
								</div>
								<div class="input">
									<div class="input__img"><img src="/catalog/view/theme/default/image/icons/4.png" alt=""></div>
									<input type="text" name="phone" placeholder="Ваш телефон" required="required">
								</div>
								<button class="button">Запросить свой подарок</button>
								<div class="checkbox">
									<input type="checkbox" id="c1" checked="checked">
									<label for="c1">
										<div class="box"><img src="/catalog/view/theme/default/image/icons/check.png" alt=""></div>
										<div class="text">Согласен на обработку персональных данных</div>
									</label>
								</div>
								<input type="hidden" name="type" value="Первый экран / Главная Каменная мойка и варочная поверхность В ПОДАРОК!">
							</form><img src="/catalog/view/theme/default/image/block1/arrow.png" alt="" class="block1__right__arrow">
							<div class="block1__right__bonus"><img src="/catalog/view/theme/default/image/block1/5.png" alt=""><img src="/catalog/view/theme/default/image/block1/6.png" alt="">
							<!-- <div class="price price1"><span>6 000 p.</span></div>
							<div class="price price2"><span>7 000 p.</span></div> -->
							</div>
						</div>
					</div>
				</div>
	</section>