<div id="call-popup-2" class="call-modal modal-custom modal-vertical-center modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal" data-dismiss="modal"></button>
            <div class="modal-body">
                <form class="block1__right" method="post">
                    <div class="title">Расчёт цены под свой размер</div>
                    <div class="descriptor">Возьмём в работу в течение двух минут!</div>
                    <div class="input">
                        <div class="input__img"><img src="/catalog/view/theme/default/image/icons/3.png" alt=""></div>
                        <input type="text" name="name" placeholder="Введите имя">
                    </div>
                    <div class="input">
                        <div class="input__img"><img src="/catalog/view/theme/default/image/icons/4.png" alt=""></div>
                        <input type="text" name="phone" placeholder="Ваш телефон" required="required">
                    </div>
                    <div class="textarea input">
                        <textarea name="comment" placeholder="Пожелания, если есть. Например: длина гарнитура, количество"></textarea>
                    </div>

                    <div class="call-popup-2-file-wrap input">
                        <label for="call-popup-2-file">
                            <span class="call-popup-2-file-icon"></span>
                            <span class="call-popup-2-file-text">Можно приложить эскиз или фото</span>
                        </label>
                        <input id="call-popup-2-file" name="popup_2_file" type="file" required="required">
                    </div>
                    
                    <div class="checkbox input">
                        <input type="checkbox" id="popup_2_c0" checked="checked">
                        <label for="popup_2_c0">
                            <div class="box"><img src="/catalog/view/theme/default/image/icons/check.png" alt=""></div>
                            <div class="text">Я даю своё согласие на обработку персональных данных</div>
                        </label>
                    </div>
                    <button class="button">Рассчитать стоимость</button>
                    <input type="hidden" name="type" value="Расчёт цены под свой размер">
                </form>

            </div>
        </div>
    </div>
</div>