{{ header }}
<style>
    .header-menu nav {
            background: url(/image/catalog/error-404/404-bg-menu.jpg) no-repeat;
            background-size: cover;
    }
</style>
<div id="error-not-found">
    <div class="error-404-wrap">
        <div class="container">
            <div class="error-404">
                <div class="e-404">
                    <h1 class="e-404-title">Страница не найдена</h1>
                    <div class="e-404-text">К сожалению, произошла ошибка.. Страница не найдена или её не существует</div>
                    <div class="e-404-btn-wrap">
                        <a href="/" class="e-404-btn button">Вернуться на главную</a>
                    </div>
                    <div class="e-404-bg"></div>
                </div>
            </div>
        </div>
    </div>
    {{ content_top }}
    {{ content_bottom }}
</div>
{{ footer }}
