        <div class="container">
            <div class="block10__flex">
                <div class="block10__left">
                    <div class="section__title">Получите бесплатный 3д проект <span>вашей кухни в день обращения</span></div>
                    <div class="section__descriptor">Дизайнер создаст визуализацию вашей <br>будущей кухни, в котором отобразит все ваши идеи</div>
                    <div class="block10__item"><img src="/catalog/view/theme/default/image/block10/2.png" alt=""><span>Расчет стоимости <br>и сроков изготовления</span>
                    </div>
                    <div class="block10__item"><img src="/catalog/view/theme/default/image/block10/3.png" alt=""><span>Точная визуализация <br>вашей кухни в 3D графике</span>
                    </div>
                    <div class="block10__item"><img src="/catalog/view/theme/default/image/block10/4.png" alt=""><span>Рекомендации по подбору <br>материалов, фурнитуры <br>и других нюансов</span>
                    </div>
                </div>
                <div class="block1__right-wrapper block10__right-wrapper"><img src="/catalog/view/theme/default/image/block10/1.png" alt="" class="block10__mac">
                    <form class="block1__right" enctype="multipart/form-data">
                        <div class="title">Получить 3D <br>визуализацию</div>
                        <div class="input">
                            <div class="input__img"><img src="/catalog/view/theme/default/image/icons/3.png" alt=""></div>
                            <input type="text" name="name" placeholder="Введите имя">
                        </div>
                        <div class="input">
                            <div class="input__img"><img src="/catalog/view/theme/default/image/icons/4.png" alt=""></div>
                            <input type="text" name="phone" placeholder="Ваш телефон" required="required">
                        </div>
                        <textarea name="text" placeholder="Ваши пожелания"></textarea>
                        <div class="file-input">
                            <input type="file" name="file" id="file">
                            <label for="file"><span>Прикрепить</span><span>У меня есть проект</span></label>
                        </div>
                        <button class="button">Получить визуализацию <br>+ рассчет стоимости</button>
                        <div class="checkbox">
                            <input type="checkbox" id="c33" checked="checked">
                            <label for="c33">
                                <div class="box"><img src="/catalog/view/theme/default/image/icons/check.png" alt=""></div>
                                <div class="text">Согласен на обработку персональных данных</div>
                            </label>
                        </div>
                        <input type="hidden" name="type" value="Заявка на 3D визуализацию">
                    </form>
                </div>
            </div>
        </div>