<div class="container">
				<div class="block5__flex">
										<div class="block5__item" data-case="0">
						
													<img src="/image/catalog/6A55613B-7EE4-4877-8E06-19E3DA7EEAED.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Астория</span>
						</div>
					</div>
										<div class="block5__item" data-case="1">
						
													<img src="/image/catalog/4B85EC9B-B983-48AE-9D3B-65AEE4A82E13.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Полермо</span>
						</div>
					</div>
										<div class="block5__item" data-case="2">
						
													<img src="/image/catalog/lorenco.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Лоренцо </span>
						</div>
					</div>
										<div class="block5__item" data-case="3">
						
													<img src="/image/catalog/gv.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Гварнери</span>
						</div>
					</div>
										<div class="block5__item" data-case="4">
						
													<img src="/image/catalog/stradivary.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Страдивари</span>
						</div>
					</div>
										<div class="block5__item" data-case="5">
						
													<img src="/image/catalog/BF9FC80E-412C-47A9-965C-2F2FE1D540B0.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Грани</span>
						</div>
					</div>
										<div class="block5__item" data-case="6">
						
													<img src="/image/catalog/2679FA58-C1E6-4FBA-A136-BE94B1D7824A.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Шале</span>
						</div>
					</div>
										<div class="block5__item" data-case="7">
						
													<img src="/image/catalog/asti.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Асти</span>
						</div>
					</div>
										<div class="block5__item" data-case="8">
						
													<img src="/image/catalog/DBF89012-D626-439B-8F68-6FC589C1CE2B.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Верона</span>
						</div>
					</div>
										<div class="block5__item" data-case="9">
						
													<img src="/image/catalog/pastoral.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Пастораль</span>
						</div>
					</div>
										<div class="block5__item" data-case="10">
						
													<img src="/image/catalog/38E06588-D7C0-4603-B27A-592B9966DEC3.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Элегия</span>
						</div>
					</div>
										<div class="block5__item" data-case="11">
						
													<img src="/image/catalog/67C5D27B-2197-4B3B-8318-9BD997BE6F34.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Инарио</span>
						</div>
					</div>
										<div class="block5__item" data-case="12">
						
													<img src="/image/catalog/2FA0A8DE-B783-490F-B765-0AE449BA860F.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Бохо грей</span>
						</div>
					</div>
										<div class="block5__item" data-case="13">
						
													<img src="/image/catalog/0301C811-84EA-4DFE-A69A-80009296F9CD.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Аврелия</span>
						</div>
					</div>
										<div class="block5__item" data-case="14">
						
													<img src="/image/catalog/075C5837-7A80-4CF2-92FC-D136B0543BA1.jpeg" alt="">
												<div class="block5__item__link">
							<span>Подробнее</span><img src="/catalog/view/theme/default/image/icons/arrow.png" alt="">
						</div>
						<div class="block5__item__bottom">
							<span class="price">Бельгия</span>
						</div>
					</div>
									</div>
			</div>