        <div class="container">
            <div class="block13__flex">
                <div class="block13__left">
                    <div class="section__title">Хотите рассчитать <br>точную стоимость кухни <br>и посмотреть качество <br>материалов? <br>Тогда посетите наш
                        салон
                    </div>
                    <div class="text">Там вы сможете пообщаться с нашими дизайнерами, обсудить детали вашей будущей кухни, <br>а так же посмотреть на другую
                        мебель
                    </div>
                    <div class="block13__item"><img src="/catalog/view/theme/default/image/block13/1.png" alt=""><span>Мы находимся по адресу: <br><b>г. Москва, ул.Свободы, д.29, <br>ТЦ "Свобода Мебель", <br>2 этаж, место 18
                    </b></span></div><b>
                    <button class="button callback-btn">Посетить наш салон</button>
                </b></div><b>
                <div style="background-image: url(&quot;/catalog/view/theme/default/image/block13/2.png&quot;);" class="block13__right"></div>
            </b>
            </div>
            <b></b>
        </div>