        <div class="container">
            <div class="block20__flex">
                <div class="ctext">
                    <div class="section__title left mb-5">Оплата</div>
                    <h5>Наличный расчёт</h5>
                    <p>
                        Если товар доставляется курьером, то оплата осуществляется наличными курьеру в руки. При получении товара обязательно проверьте
                        комплектацию.
                    </p>

                    <h5>Банковской картой</h5>
                    <p>
                        Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку Оплата заказа банковской
                        картой. Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платёжных систем:
                    </p>
                    <ul>
                        <li><img style="display: inline-block" src="/catalog/view/theme/default/image/icons/mir.svg" height="20"></li>
                        <li><img style="display: inline-block" src="/catalog/view/theme/default/image/icons/visa.svg" height="20"></li>
                        <li><img style="display: inline-block" src="/catalog/view/theme/default/image/icons/mastercard.svg" height="20"></li>
                    </ul>

                    <h5>Процесс оплаты</h5>
                    <p>
                        Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и
                        передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает
                        технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа
                        также может потребоваться ввод специального пароля.
                    </p>


                    <div class="mb-5"></div>
                    <p>* Пожалуйста ознакомьтесь <a href="/policy/">с политикой конфиденциальности в отношении персональных данных</a>.</p>

                    <div class="mb-5"></div>
                    <div class="section__title left mb-5">Доставка</div>
                    <p>
                        Доставка осуществляется собственным автотранспортом компании , срок поставки можно уточнить у Вашего курирующего менеджера.
                    </p>
                    <p>
                        Можем привезти ваш заказ в выходной день - по предварительному согласованию.<br>
                        Сколько стоит доставка вашего заказа:
                    </p>

                    <h5>Доставка по Москве</h5>
                    <p>в прeделах МКАД 1700 руб<br>При заказе от 150 000 рублей - доставка БЕСПЛАТНО!</p>
                    <h5>Доставка за пределы МКАД</h5>
                    <p> 1700 руб ( + 40 руб за 1 км от МКАД)<br>

                    </p>


                    <div class="mb-5"></div>
                    <div class="section__title left mb-5">Гарантия</div>
                    <p>Вся мебель Компании «Правильные кухни» сертифицирована. Минимальный срок службы Мебели производства фабрики «Правильные кухни» составляет
                        10 лет.Мы уверены в качестве своего продукта, поэтому предоставляем гарантии на все модели кухонь.</p>


                    <div class="mb-5"></div>
                    <div class="section__title left mb-5">Контактные данные организации</div>
                    <h5>Контакты </h5>
                    <p>Юридический адрес: Московская область город Химки. Ул. Ленинградская 29</p>
                    <p>Фактический адрес: ул. Свободы 29, Мебельный центр Свобода Мебель</p>
                    <p>Электронная почта: 2233553@mail.ru</p>
                    <p>Телефон: 8 (495) 139-63-39</p>
                    <div class="mb-5"></div>
                    <!--
                    <h5>Реквизиты</h5>
                    <p>
                        Индивидуальный предприниматель Дмитриенко Анастасия Владимировна</p>
                    <p> ИНН 504790347988</p>
                    <p> ОГРНИП 307504722700046</p>
                    <p> ОКПО 0151387893</p>
                    <p> ОКАТО 46483000000</p>
                    <p> ОКТМО 46783000001 </p>
                    <p>Номер счета 40802810340000118889</p>
                    <p>БИК 044525225</p>
                    <p>Корр. Счет 30101810400000000225</p>
                    <p>Банк: ПАО СБЕРБАНК</p>
                    -->
                </div>
            </div>
        </div>